h1, h2, h3, h4, h5, h6, button {
  font-family: fieldwork-hum, sans-serif;
  text-transform: uppercase;
}

a, p, input, textarea, label, div, section {
  font-family: montserrat, sans-serif;
}

.color--primary {
  color: #00629B;
}

.color--secondary {
  color: #FFBF5F;
}

.color--tertiary {
  color: #1A1A1A;
}

.text-align--center {
  text-align: center;
}

/* STICKY FOOTER: ------------------------------- */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

/* ---------------------------------------------- */
/* RESETTING MARGIN & PADDING: ------------------ */
nav, footer, header, main,
div, section, article,
h1, h2, h3, h4, h5, h6,
p, i, a,
input, textarea, section, option, label,
ul, ol, li, form,
img, iframe,
.row {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ---------------------------------------------- */
.body--primary {
  background: #00629B;
  color: #FFF;
}

.body--secondary {
  background: #FFBF5F;
  color: #000;
}

.body--tertiary {
  background: #1A1A1A;
  color: #FFF;
  z-index: -999;
}

.container {
  position: relative;
}

.section {
  padding: 200px 0;
  min-height: 110vh;
}

.section--primary {
  background: #00629B;
}

.section--secondary {
  background: #FFBF5F;
}

.section--tertiary {
  background: #1A1A1A;
  color: white;
}

.section__headline {
  font-size: clamp(30px, 10vw, 100px);
  text-align: center;
}

.section__headline--lg {
  font-size: clamp(40px, 10vw, 140px);
}

.paragraph {
  margin-bottom: 30px;
}

.nav {
  z-index: 99;
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.nav__container {
  position: relative;
}

.nav__brand {
  z-index: 1;
  position: relative;
  color: #00629B;
  text-transform: uppercase;
  font-family: fieldwork-hum, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-size: 100px;
}

.nav__brand:hover {
  color: #00629B;
}

.nav__brand--landingpage {
  font-size: 200px;
  color: white;
}

.nav__brand--landingpage:hover {
  color: white;
}

.nav__brand__first-name {
  position: absolute;
  line-height: 100px;
}

.nav__brand__first-name--landingpage {
  position: absolute;
  line-height: 200px;
}

.nav__brand__last-name {
  position: absolute;
  line-height: 100px;
  background: -webkit-linear-gradient(#00629B, #FFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 90px;
  left: 60px;
}

.nav__brand__last-name--landingpage {
  position: absolute;
  top: 100px;
  left: 60px;
  line-height: 200px;
  top: 200px;
  background: -webkit-linear-gradient(#FFF, #00629B);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  list-style: none;
  line-height: 10vh;
}

.nav__list--dark {
  color: #1A1A1A;
}

.nav__link {
  z-index: 9999;
  color: white;
  text-decoration: none;
  margin-left: 60px;
  text-transform: uppercase;
  font-family: fieldwork-hum, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 10vh;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav__link:hover {
  color: #FFBF5F;
}

.nav__link--dark {
  color: #1A1A1A;
}

.nav__link--dark:hover {
  color: #00629B;
}

.nav__link--active {
  color: #00629B;
}

.nav__decor {
  position: relative;
}

.nav__decor div {
  width: 500px;
  height: 150px;
  position: absolute;
  top: 0px;
  right: -30px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav__decor--dark div {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.footer {
  background: #1A1A1A;
  padding: 20px;
  text-align: center;
  color: #FFF;
}

.header--bg {
  background: rgba(49, 49, 49, 0.5);
  margin-bottom: 50px;
}

.header__headline {
  text-align: center;
  font-weight: 700;
  font-size: clamp(30px, 5vw, 70px);
  padding: 30px 0 50px 0;
}

.header__headline--bg {
  padding: 30px 20px;
}

.header__subline {
  text-align: left;
  font-weight: 700;
  padding-bottom: 5px;
}

.hero {
  z-index: 555;
  height: 90vh;
  color: #FFF;
  position: relative;
  width: 100%;
}

.hero__container {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero__container .container {
  height: 90vh;
}

.hero__img {
  z-index: 888;
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.hero__content {
  z-index: 999;
  width: 700px;
  position: absolute;
  left: 20%;
  top: 70%;
  -webkit-transform: translate(-20%, -70%);
          transform: translate(-20%, -70%);
  background-image: linear-gradient(140deg, #013e61, #38383875, #1a1a1ab4);
  padding: 25px;
}

.hero__content__headline {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 30px;
}

.hero__content__profession-tag {
  color: rgba(255, 255, 255, 0.575);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content__profession-tag i {
  font-size: 5px;
  padding: 10px;
}

.hero__content__text {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.btn i {
  margin: 0 5px;
}

.btn--primary {
  background: #00629B;
  color: #FFF;
}

.btn--primary:hover {
  background: #0082ce;
  color: #FFF;
}

.btn--secondary {
  background: #FFBF5F;
  color: #000;
}

.btn--secondary:hover {
  background: #ffab2c;
  color: #000;
}

.btn--tertiary {
  background: #1A1A1A;
  color: #FFF;
}

.btn--tertiary:hover {
  background: #343434;
  color: #FFF;
}

.btn--cta {
  padding: 15px 50px;
  margin: 0;
  font-size: 20px;
  margin-right: 20px;
}

.btn--lg {
  padding: 10px 35px;
  margin: 0;
  font-size: 20px;
}

.btn--md {
  padding: 10px 35px;
  margin: 0;
  font-size: 20px;
}

.btn--sm {
  padding: 10px 15px;
  margin: 0;
  font-size: 16px;
}

.btn--github {
  background: #6e42c1;
  color: #FFF;
}

.btn--github:hover {
  background: rgba(110, 66, 193, 0.7);
  color: #FFF;
}

.btn--linkedin {
  background: #0e77a8;
  color: #FFF;
  margin-right: 0px !important;
}

.btn--linkedin:hover {
  background: rgba(14, 119, 168, 0.7);
  color: #FFF;
}

.link {
  text-decoration: underline;
}

.link--cta {
  color: #FFF;
  font-size: 18px;
  margin-left: 30px;
  text-transform: uppercase;
}

.link--cta:hover {
  text-decoration: none;
}

.link--primary {
  color: #00629B;
}

.link--primary:hover {
  color: #00629B;
}

.link--secondary {
  color: #FFBF5F;
}

.link--secondary:hover {
  color: #FFBF5F;
}

.link--tertiary {
  color: #1A1A1A;
}

.link--tertiary:hover {
  color: #1A1A1A;
}

.benefits__content {
  margin: 50px 0;
}

.benefits__title {
  position: relative;
  font-weight: 800;
  letter-spacing: 1px;
  border-bottom: 1px solid #FFBF5F;
  margin-bottom: 15px;
}

.benefits__icon {
  font-size: 100px;
  width: 140px;
}

.benefits__nr {
  font-size: 150px;
  font-weight: 900;
  color: #FFBF5F;
  width: 100px;
}

.process {
  background-image: url("../../graphics/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.process__card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  border-radius: 20px;
  padding: clamp(10px, 2vw, 30px);
}

.process__card--one {
  background-image: linear-gradient(150deg, rgba(252, 90, 144, 0.8), rgba(149, 16, 114, 0.8));
}

.process__card--two {
  background-image: linear-gradient(150deg, rgba(114, 107, 255, 0.8), rgba(27, 16, 129, 0.8));
}

.process__card--three {
  background-image: linear-gradient(150deg, rgba(104, 224, 255, 0.8), rgba(13, 37, 158, 0.8));
}

.process__card__circle {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 30px;
}

.process__card__nr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(30px, 5vw, 45px);
  font-weight: 900;
}

.process__card__title {
  font-weight: 700;
  font-size: clamp(20px, 2vw, 30px);
  margin-bottom: 15px;
}

.process__card__text {
  margin-bottom: 50px;
  font-size: clamp(16px, 2vw, 18px);
}

.process__card__icon {
  font-size: 70px;
}

.header--bg {
  background: rgba(49, 49, 49, 0.5);
  margin-bottom: 50px;
}

.headline {
  text-align: center;
  font-weight: 700;
  font-size: clamp(30px, 5vw, 70px);
  padding: 30px 0 50px 0;
}

.headline--bg {
  padding: 30px 20px;
}

.profile-img {
  height: 700px;
  width: 100%;
  background-image: url("../../graphics/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0;
}

.about__headline {
  font-weight: 700;
  font-size: clamp(30px, 5vw, 50px);
}

.about__interests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__interests__tag {
  background: #FFBF5F;
  color: #1A1A1A;
  padding: 5px 10px;
  margin-right: 10px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.about__desc {
  padding: 25px;
}

.about__desc p {
  padding: 15px 0;
}

.about__profile {
  padding: 25px;
}

.about__buttons {
  margin: 30px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__skills {
  background: -webkit-gradient(linear, left top, right top, from(#188CD9), to(#164582));
  background: linear-gradient(90deg, #188CD9, #164582);
}

.about__skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.about__skills__container i {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
}

.contact-form {
  padding: clamp(10px, 5vw, 30px);
  padding-top: 0;
  padding-bottom: 0;
  border-left: 10px solid #FFBF5F;
}

.contact-form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  padding: 0;
}

.contact-form__section:first-child {
  margin-top: 0;
}

.contact-form__section:last-child {
  margin-bottom: 0;
}

.contact-form__input {
  padding: 15px 10px;
  border-radius: 0;
  border: 0;
  background: #D0E4F1;
  margin-bottom: 5px;
}

.contact-form__input::-webkit-input-placeholder {
  color: #202020;
}

.contact-form__input:-ms-input-placeholder {
  color: #202020;
}

.contact-form__input::-ms-input-placeholder {
  color: #202020;
}

.contact-form__input::placeholder {
  color: #202020;
}

.contact-form__input:focus {
  outline: 1px solid black;
}

.contact-form__textarea {
  height: 200px;
  padding: 10px;
  border-radius: 0;
  border: 0;
  background: #D0E4F1;
  margin-bottom: 5px;
}

.contact-form__textarea::-webkit-input-placeholder {
  color: #202020;
}

.contact-form__textarea:-ms-input-placeholder {
  color: #202020;
}

.contact-form__textarea::-ms-input-placeholder {
  color: #202020;
}

.contact-form__textarea::placeholder {
  color: #202020;
}

.contact-form__textarea:focus {
  outline: 1px solid black;
}

.contact-form__submit {
  padding: 10px 0;
}

.contact-form__error, .contact-form__error i {
  color: #c90000;
  font-weight: 600;
  font-size: 14px;
}

.portfolio {
  margin-top: 150px;
  margin-bottom: 150px;
}

.portfolio__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__card {
  padding: 0 20px;
  position: relative;
}

.portfolio__card__container {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: ease box-shadow 0.3s;
  transition: ease box-shadow 0.3s;
  /* &:hover {
                box-shadow: 
                    0 15px 60px 0 rgba(0, 0, 0, 0.1),
                    0 5px 25px 0 rgba(0, 0, 0, 0.1);
                cursor: pointer;
            } */
}

.portfolio__card__thumbnail {
  width: 100%;
}

.portfolio__card__content {
  padding: 15px;
}

.portfolio__card__title {
  font-weight: 600;
  font-size: clamp(18px, 5vw, 20px);
  margin-bottom: 5px;
}

.portfolio__card__description {
  font-size: clamp(13px, 2vw, 16px);
  margin-bottom: 20px;
}

.portfolio__card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__card__buttons a, .portfolio__card__buttons button {
  width: 100%;
}

.portfolio__card__buttons a:first-child {
  margin-right: 20px;
}

/*
    Code inspired from Andy Leverenze (Web-Crunch):
    YouTube Channel: "https://www.youtube.com/channel/UCzePijHDYnVHIXW6HYTL4dg"
    YouTube Video: "https://www.youtube.com/watch?v=-xU95CUTvHg&ab_channel=Web-Crunch"
    Code Pen: "https://codepen.io/webcrunchblog/pen/vVvPZM"
*/
.skeleton {
  border-radius: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  background: #FFF;
  margin: 50px 0;
  max-width: 380px;
  width: 380px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.02), 0 5px 15px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.02), 0 5px 15px 0 rgba(0, 0, 0, 0.02);
  -webkit-transition: ease box-shadow 0.3s;
  transition: ease box-shadow 0.3s;
}

.skeleton:hover {
  -webkit-box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.05), 0 5px 25px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.05), 0 5px 25px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.skeleton__content {
  padding: 15px;
}

.skeleton__thumbnail {
  margin: 0;
  padding: 0;
  height: 200px;
  overflow: hidden;
}

.skeleton__thumbnail.thumbnail {
  max-width: 100%;
  height: auto;
}

.skeleton__headline.skeleton__loading {
  height: 40px;
  margin-bottom: 15px;
  width: 80%;
}

.skeleton__description.skeleton__loading {
  height: 100px;
  margin-bottom: 15px;
}

.skeleton__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skeleton__buttons div {
  height: 30px;
  width: 100%;
}

.skeleton__buttons div:first-child {
  margin-right: 15px;
}

.skeleton__loading {
  position: relative;
  background-color: #eeeeee;
}

.skeleton__loading::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.25)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.25), transparent);
  -webkit-animation: skeleton__loading 1.5s infinite;
          animation: skeleton__loading 1.5s infinite;
}

@-webkit-keyframes skeleton__loading {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes skeleton__loading {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.breadcrumb a {
  color: #1A1A1A;
  text-decoration: underline;
  color: #00629B;
}

.breadcrumb a i {
  margin: 0 5px;
}

.breadcrumb a:hover {
  text-decoration: none;
}

.project__column {
  padding-left: 60px;
}

.project section:first-child {
  margin-bottom: 200px;
}

.project__component {
  margin: 100px 0;
}

.project__component:first-child {
  margin-top: 0;
}

.project__headline {
  font-size: clamp(30px, 100vw, 160px);
  text-align: left;
  font-weight: 700;
}

.project__title {
  font-size: clamp(18px, 50vw, 60px);
  font-weight: 600;
}

.project__moodboard__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__moodboard__image-container {
  width: 30%;
  padding-top: 30%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project__color-palette__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.project__color-palette__boxes:last-child {
  margin-bottom: 0;
}

.project__color-palette__boxes div {
  width: 30%;
  padding-top: 30%;
  position: relative;
}

.project__color-palette__boxes div p {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  left: 0;
  padding: 5px;
  text-align: center;
}

.project__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.project__buttons a, .project__buttons a button {
  width: 95%;
}

.project__buttons a:last-child {
  text-align: right;
}

.project__thumbnail {
  position: relative;
  margin-bottom: 50px;
}

.project__thumbnail img {
  width: 100%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06), 0 5px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06), 0 5px 10px 0 rgba(0, 0, 0, 0.06);
}

.project__images {
  position: relative;
}

.project__images img {
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06), 0 5px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.06), 0 5px 10px 0 rgba(0, 0, 0, 0.06);
}

.project__images--desktop {
  width: 100%;
}

.project__images--mobile {
  width: 40%;
  position: absolute;
  top: 20px;
  right: -100px;
}

.grey {
  background: #eeeeee;
  color: #eeeeee;
  border: 1px solid #bbbbbb;
}

.project__typography {
  position: relative;
}

.project__typography__decor {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid white;
  width: 100%;
  height: 700px;
  border-left: 1px solid white;
  z-index: 0;
}

.project__typography__section {
  position: relative;
  padding: 50px;
  padding-right: 0;
}

.project__typography__title {
  text-transform: uppercase;
  font-size: clamp(40px, 50vw, 150px);
  text-align: center;
  background: -webkit-linear-gradient(#FFBF5F, #1A1A1A);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project__typography__component {
  margin: 50px 0;
  z-index: 2;
}

.project__typography__component--last-child {
  margin-bottom: 0;
}

.project__typography--p p {
  margin: 15px 0;
}

.project__typography__description {
  color: #bbbbbb;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
}

.project__typography__link {
  color: white;
  margin: 20px 0;
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  padding-left: 50px;
  padding-bottom: 5px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.project__typography__link:hover {
  color: #FFBF5F;
}

.project__typography__link__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid white;
  border-right: 1px solid white;
  height: 700px;
  padding: 50px;
  padding-left: 0;
}

.project__typography__link__container div {
  text-align: right;
  margin: 20px 0;
}

.project__typography__link__container div:first-child {
  margin-top: 0;
}

.project__typography--h1 {
  font-size: clamp(30px, 5vw, 70px);
}

.project__typography--h2 {
  font-size: clamp(30px, 5vw, 50px);
}

.project__typography--h3 {
  font-size: clamp(30px, 5vw, 40px);
}

.project__typography--h4 {
  font-size: clamp(30px, 5vw, 35px);
}

.project__typography--h5 {
  font-size: clamp(30px, 5vw, 30px);
}

.project__typography--h6 {
  font-size: clamp(30px, 5vw, 25px);
}

.project__typography--p {
  font-size: clamp(16px, 5vw, 25px);
}

.project__logo__image {
  width: 100%;
}

.project__logo__image__container {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.project__logo__image-text {
  width: 100%;
  background: #d4d4d4;
  padding: 5px 10px;
  margin-top: 10px;
}

.project__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project__icon__box {
  width: 50%;
  padding-top: 50%;
  position: relative;
}

.project__icon__box img {
  width: 50%;
}

.project__icon--dark-bg {
  background: #1A1A1A;
}

.project__icon--dark-light {
  background: #FFF;
}
/*# sourceMappingURL=style.css.map */