.btn{
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    transition: .2s ease-in-out;

    // Colors:
    &--primary{
        background: colors(primary);
        color: #FFF;

        &:hover{
            background: colors(primary, light);
            color: #FFF;
        }
    }

    &--secondary{
        background: colors(secondary);
        color: #000;

        &:hover{
            background: colors(secondary, dark);
            color: #000;
        }
    }

    &--tertiary{
        background: colors(tertiary);
        color: #FFF;

        &:hover{
            background: colors(tertiary, light);
            color: #FFF;
        }
    }

    // Sizes:
    &--cta{
        padding: 15px 50px;
        margin: 0;
        font-size: 20px;
        margin-right: 20px;
    }

    &--lg{
        padding: 10px 35px;
        margin: 0;
        font-size: 20px;
    }

    &--md{
        padding: 10px 35px;
        margin: 0;
        font-size: 20px;
    }

    &--sm{
        padding: 5px 15px;
        margin: 0;
        font-size: 16px;
    }

    // Extra buttons
    &--github{
        background: rgba(110, 66, 193, 1);
        color: #FFF;

        &:hover{
            background: rgba(110, 66, 193, 0.7);
            color: #FFF;
        }
    }

    

    &--linkedin{
        background: rgba(14, 119, 168, 1);
        color: #FFF;
        margin-right: 0px !important;

        &:hover{
            background: rgba(14, 119, 168, 0.7);
            color: #FFF;
        }
    }

    
}